<div class="container">
	<div class="row">
		<div class= "col-sm-12 text-center">
			<h1>The Swing Band</h1>
		</div>

		<div class= "text-center">
			<img src="/images/jazzband.jpg">

		</div>

		<div class="row">
			<div class="col-sm-4">
				<h4>Upcoming shows</h4>
				<div>
					
				</div>
			</div>
			<div class="col-sm-5 align-center text-left">
				<h4>Welcome to the SwingBand!</h4>
					<ul>
						<li>Show 1</li>
						<li>Show 2</li>
						<li>Show 3</li>
						<li>Show 4</li>
						<li>Show 5</li>
					</ul>
			</div>
			<div class="col-sm-2 pull-right text left">
				<h4>Our newsfeed</h4>
					<ul>
						<li>Show 1</li>
						<li>Show 2</li>
						<li>Show 3</li>
						<li>Show 4</li>
						<li>Show 5</li>
					</ul>
			</div>
		</div>
</div>
