<div class="container">
	<div class="row">
		<div class="col-sm-3">
			<h3>Album 1</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			</div>
		<div class="col-sm-3">			
			<h3>Album 2</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		</div>
		<div class="col-sm-3">
			<h3>Album 3</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		</div>
		<div class="col-sm-3">
			<h3>Album 4</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		</div>
	</div>

	<ul class="list-group">
			<li class="list-group-item clearfix">
				<span class="glyphicon glyphicon-music"></span>
				<span> Song title</span>
				<span>03:13</span>
					<a href="#" class="btn btn-success btn-sm pull-right">£0.99</a>
			</li>
			<li class="list-group-item clearfix">
				<span class="glyphicon glyphicon-music"></span>
				<span> Song title</span>
				<span>03:13</span>
				<a href="#" class="btn btn-success btn-sm pull-right">£0.99</a>
			</li>

			<li class="list-group-item clearfix">
				<span class="glyphicon glyphicon-music"></span>
				<span> Song title</span>
				<span>03:13</span>
				<a href="#" class="btn btn-success btn-sm pull-right">£0.99</a>
			</li>
			<li class="list-group-item clearfix">
				<span class="glyphicon glyphicon-music"></span>
				<span> Song title</span>
				<span>03:13</span>
				<a href="#" class="btn btn-success btn-sm pull-right">£0.99</a>
			</li>
			<li class="list-group-item clearfix">
				<span class="glyphicon glyphicon-music"></span>
				<span> Song title</span>
				<span>03:13</span>
				<a href="#" class="btn btn-success btn-sm pull-right">£0.99</a>
			</li>
			<li class="list-group-item clearfix">
				<span class="glyphicon glyphicon-music"></span>
				<span> Song title</span>
				<span>03:13</span>
				<a href="#" class="btn btn-success btn-sm pull-right">£0.99</a>
			</li>
			<li class="list-group-item clearfix">
				<span class="glyphicon glyphicon-music"></span>
				<span> Song title</span>
				<span>03:13</span>
				<a href="#" class="btn btn-success btn-sm pull-right">£0.99</a>
			</li>
			<li class="list-group-item clearfix">
				<span class="glyphicon glyphicon-music"></span>
				<span> Song title</span>
				<span>03:13</span>
				<a href="#" class="btn btn-success btn-sm pull-right">£0.99</a>
			</li>
	</ul>
</div>
